<!DOCTYPE html>
<html>
    <head>
        <title>Inventory</title>
    </head>
    <body>
        <h1>Welcome to your inventory</h1>
        <p><a href="/inventory">Click here</a> to see all of the inventory and to add something to the inventory.</p>
    </body>
</html>
